.page-container {
    max-width: 99%;
    min-height: 930px;
    margin-bottom: 0.3%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
}

.content-row {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.placeholder {
    text-align: center;
    background-color: #d0d0d0;
}

.stats-row {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
    background-color: white;
}

.stats-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats-title {
    margin-top: 10px;
}

