.webpageContainer {
    width: 99.5%;
    height: 100%;
    margin-bottom: 0.3%;
    overflow-y: scroll;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webpageContainer:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
}